# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Docs
*.md

# Node
frontend/node_modules/

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
backend/logs/